# Виртуальное окружение (индивидуально для каждого ПК)
venv/
.venv/
env/
ENV/

# Кэш Python (автоматически создаваемые файлы)
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Секретные ключи, пароли и настройки окружения (ВАЖНО!)
.env
*.local
secrets.json

# Логи и базы данных (чтобы не забивать репозиторий мусором)
*.log
*.sqlite3
.database/

# Настройки самой среды разработки VS Code
.vscode/
.idea/
.DS_Store
